:root {
  --primary-font-color: #757575;
  --hover-focus-color: #2196f3;
  --header-color: #212121;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--primary-font-color);
}

/* header */
/* navigation */

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
}

.logo .web {
  color: var(--hover-focus-color);
  font-family: raleway;
}

.site-nav .logo {
  font-weight: bold;
  font-size: 26px;
}

.site-nav .logo .studio {
  color: var(--header-color);
}

.link,
.contact-header,
.e-mail,
.tel {
  list-style-type: none;
  text-decoration: none;
}

.site-nav .link {
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
}
.link .current {
  color: var(--hover-focus-color);
}

.link:hover,
.link:focus {
  color: var(--hover-focus-color);
}

.e-mail,
.tel {
  color: var(--primary-font-color);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
}

.e-mail:hover,
.e-mail:focus,
.tel:hover,
.tel:focus {
  color: var(--hover-focus-color);
}

/* main */
/* hero-section */
.hero-section {
  background-color: #2f303a;
}
.hero-section.title {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.button {
  cursor: pointer;
}

.hero-section .button {
  background: var(--hover-focus-color);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.button {
  cursor: pointer;
}

/* features-secnion */
.feature {
  list-style-type: none;
  font-size: 14px;
}

.feature .title {
  color: var(--header-color);
  text-transform: uppercase;
  font-size: 14px;
}

.feature .text {
  line-height: 1.71;
}

/* services-section */
.images {
  list-style-type: none;
}

.services.title {
  color: var(--header-color);
  font-size: 36px;
  text-align: center;
}

/* team-section */
.team {
  background: #f5f4fa;
}

.team .title {
  color: var(--header-color);
  text-align: center;
  font-size: 36px;
}

.team .card {
  background: #ffffff;
  list-style-type: none;
  text-align: center;
  font-size: 16px;
}

.team .card .title {
  font-weight: 500;
}

/* footer */
footer {
  background: #2f303a;
  font-size: 14px;
  line-height: 1.46;
}

.logo .studio {
  color: #ffffff;
}

.location {
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}

.location:hover,
.location:focus {
  color: var(--hover-focus-color);
}

.contact-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--hover-focus-color);
}

/* portfolio */

.project {
  list-style-type: none;
}
.button .all,
.sites,
.apps,
.design,
.marketing {
  background: #f5f4fa;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--hover-focus-color);
}
